<section class="flex flex-col w-full mx-auto lg:w-[740px] py-32 text-pretty">
  <h1 class="text-6xl">
    Writing about web development, I will explore its pros and cons, the
    frustrations, and the satisfactions.
  </h1>

  <h2>
    When I'm not developing websites or walking my dogs, I will come here to
    express myself.
  </h2>
</section>
