<section class="flex flex-col pt-40 pb-12 text-pretty gap-8">
  <h1 class="text-5xl">
    Writing about web development, I will explore its 
    frustrations and satisfactions.
  </h1>

  <h2 class="text-xl">
    When I'm not developing websites or walking my dogs, I will come here to
    express myself.
  </h2>
</section>
