<section class="flex flex-col w-full mx-auto lg:w-[740px] py-32 text-pretty gap-8">
  <h1 class="text-6xl">
    Writing about web development, I will explore its 
    frustrations and satisfactions.
  </h1>

  <h2 class="text-xl">
    When I'm not developing websites or walking my dogs, I will come here to
    express myself.
  </h2>
</section>
