---
const { tags } = Astro.props;

interface Props {
  tags: string[];
}
---

<div class="flex gap-4 flex-wrap">
  {
    tags.map((tag) => (
      <span class="px-2 py-1 bg-transparent border-2 border-white text-white rounded-full text-xs hover:opacity-90 hover:text-purple-300 cursor-pointer  transition-all duration-100 hover:border-purple-500">
        <a href={`/articles/tag` + tag}>#{tag}</a>
      </span>
    ))
  }
</div>
