---
import BlogLayout from "../../../layouts/BlogLayout.astro";
import BlogHero from "../../../blogComponents/BlogHero.astro";
import BlogGallery from "../../../blogComponents/BlogGallery";


import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const allBlogArticles: CollectionEntry<"blog">[] =
    await getCollection("blog");

  const tags = new Set<string>();
  allBlogArticles.forEach((article) => {
    if (article.data.tags) {
      article.data.tags.forEach((tag) => tags.add(tag));
    }
  });

  return Array.from(tags).map((tag) => ({
    params: {
      tag: tag,
    },
    props: { tag },
  }));
}

interface Props {
  tag: string;
}

const { tag }: Props = Astro.props;

const allArticles: CollectionEntry<"blog">[] = await getCollection("blog");

const filteredArticles = allArticles.filter((article) =>
  article.data.tags?.includes(tag)
);

const allBlogArticles = filteredArticles.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime();
  const dateB = new Date(b.data.pubDate).getTime();
  return dateB - dateA;
});
---

<BlogLayout
  title={`Blog Articles Tagged: ${tag} - Blog Alberto Ramos - Web Developer`}
  description={`Blog articles tagged with ${tag} by Alberto Ramos, a dynamic web developer driven by a passion for learning and a collaborative spirit.`}
>


    <a
      href="/blog"
      class="mt-48 flex justify-center items-center gap-2 border-2 rounded-full p-2 ml-4 border-purple-500 hover:opacity-70 w-max"
    >
   
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M5 12l14 0"></path>
        <path d="M5 12l6 6"></path>
        <path d="M5 12l6 -6"></path>
      </svg>
      Show all articles
    </a>
     <h1 class="ml-4 mt-4 text-2xl">Showing by tag #{tag}</h1>
  <BlogGallery allBlogArticles={allBlogArticles} client:load/>
  
</BlogLayout>
