---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialContainer from "../components/SocialContainer.astro";
import Experience from "../components/Experience.astro"
import StudiesIcon from '../icons/StudiesIcon.astro'

---

<Layout
  title="Alberto Ramos Portfolio | Web Developer and Programmer"
  description="Hire Alberto Ramos: a dynamic web developer driven by a passion for learning and a collaborative spirit. Web developer adept at crafting visually stunning and highly functional web applications."
>
  <main>
    <section id="top" class="w-full mx-auto lg:w-[740px] py-40">
      <img
        class="rounded-full size-20 mb-5"
        src="https://avatars.githubusercontent.com/u/73201347?v=4"
        alt="alberto photo"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Alberto Ramos<a
          href="https://www.linkedin.com/in/alberto-ramos-munoz-372000105/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Available to work</Badge></a
        >
      </h1>
      <h2 class="text-xl text-wrap">
        <span>Web Developer.</span>
        <span class="text-yellow-200/90"
          >Great passionate about technology and front end development.</span
        >
        <span class="text-red-300/90"> From Barcelona, Spain.</span>
      </h2>

      <SocialContainer class="flex gap-x-2" />
    </section>

		<!--Education -->
    <section id="education" class="w-full mx-auto lg:w-[740px]">
			<h2 class="text-3xl font-semibold mb-10 flex gap-x-3 items-center">
				<StudiesIcon />Education</h2>
      <Experience />
    </section>
  </main>
</Layout>
