---
import Layout from "../../layouts/Layout.astro";
import Badge from "../../components/Badge.astro";
import SocialContainer from "../../components/SocialContainer.astro";
import Experience from "../../components/Experience.astro";
import StudiesIcon from "../../icons/StudiesIcon.astro";
import CodeIcon from "../../icons/CodeIcon.astro";
import Projects from "../../components/Projects.astro";
import TechIcon from "../../icons/TechIcon.astro";
import Technology from "../../components/Technology.astro";

import Languages from "../../components/Languages.astro";
import UserIcon from "../../icons/UserIcon.astro";
import About from "../../components/About.astro";
import Contact from "../../components/Contact.astro";
import ContactIcon from "../../icons/ContactIcon.astro";
import LanguageIcon from "../../icons/LanguageIcon.astro";
---

<Layout
  title="Alberto Ramos Portfolio | Desenvolupador web"
  description="Contracta Alberto Ramos: un desenvolupador web dinàmic impulsat per una passió per aprendre i un esperit col·laboratiu. Desenvolupador web expert en crear aplicacions web visualment impressionants i altament funcionals."
>
  <main class="relative px-4">
    <section id="top" class="w-full mx-auto lg:w-[740px] py-32">
      <img
        class="object-cover rounded-full size-36 mb-10"
        src="../../images/cvpic3.webp"
        alt="picture of Alberto Ramos"
        loading="eager"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Alberto Ramos<a
          href="https://www.linkedin.com/in/alberto-ramos-munoz-372000105/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center hover:scale-105 transition"
        >
          <Badge>Disponible per treballar</Badge></a
        >
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>Desenvolupador Front End.</span>
        <span class="text-yellow-100"
          >Gran apassionat de la tecnologia i el desenvolupament front end i el
          hardware.</span
        >
        <span class="text-purple-300"> De Barcelona, Espanya.</span>
      </h2>

      <SocialContainer class="flex gap-x-2 flex-wrap" />
    </section>

    <!--Education -->
    <section id="education" class="w-full mx-auto lg:w-[740px]">
      <h2 class="text-3xl font-semibold mb-16 flex gap-x-3 items-center">
        <StudiesIcon />Educació
      </h2>
      <Experience />
    </section>

    <!--Projects -->
    <section id="projects" class="w-full mx-auto lg:w-[740px]">
      <h2 class="text-3xl font-semibold mt-40 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />Projectes
      </h2>
      <Projects />
    </section>

    <!--About me -->
    <section id="about" class="w-full mx-auto lg:w-[740px] pb-10">
      <h2 class="text-2xl font-semibold mt-20 flex gap-x-3 items-center pb-5">
        <UserIcon class="size-10" />Quant a mi
      </h2>
      <About />

      <!--Technologies -->
      <section
        class="w-full mx-auto lg:w-[740px] shadow-md shadow-purple-800 pb-10"
      >
        <h2 class="text-2xl font-semibold mt-20 flex gap-x-3 items-center pb-5">
          <TechIcon class="size-9" />Tecnologies
        </h2>
        <Technology />
      </section>

      <!--Languages -->
      <section
        class="w-full mx-auto lg:w-[740px] shadow-md shadow-purple-800 pb-5"
      >
        <h2 class="text-2xl font-semibold mt-20 flex gap-x-3 items-center pb-5">
          <LanguageIcon class="size-9" />Idiomes
        </h2>
        <Languages />
      </section>

     
      <section id="contact" class="w-full mx-auto lg:w-[740px] pt-10">
        <h2 class="text-2xl font-semibold mt-20 flex gap-x-3 items-center">
          <ContactIcon class="size-9" />Contacta'm
        </h2>
        <Contact />
      </section> 
    </section>
  </main>
</Layout>
