---
import { getLangFromUrl, useTranslations } from "../src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<style>
  .profile-pic {
    mask-image: linear-gradient(black 80%, transparent);
  }

  .glass {
    background-color: rgba(169, 85, 247, 0.082);
    backdrop-filter: blur(19px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
</style>

<section
  class="flex flex-col md:flex-row gap-x-8 gap-y-10 md:gap-y-0 justify-center items-center"
>
  <div class="[&>p]:mb-4 text-pretty order-2 md:order-1">
    <p class="text-blue-200 text-2xl">{t("about.1")}</p>
    {t("about.2")}<span class="text-yellow-100">{t("about.3")}</span>
    <p>
      {t("about.4")}
    </p>
    <p>
      {t("about.5")}<span class="text-yellow-100">{t("about.6")}</span>{
        t("about.7")
      }<span class="text-blue-300">{t("about.8")} </span>
      {t("about.9")}
    </p>
    <p>
      {t("about.10")}<span class="text-green-300">{t("about.11")}</span>
    </p>
    <p class="text-blue-300">{t("about.12")}</p>
  </div>
  <img
    loading="lazy"
    src="../../images/cvpic4.webp"
    alt="picture about myself"
    class="rounded-md object-cover size-96 md:w-[64] md:h-[64] order-1 md:order-2 profile-pic glass"
  />
</section>
