<style>
  .profile-pic{
    mask-image: linear-gradient(
      black 80%,
      transparent
    );
  }
</style>

<section
  class="flex flex-col md:flex-row gap-x-8 gap-y-10 md:gap-y-0 justify-center items-center"
>
  <div class="[&>p]:mb-4 text-pretty order-2 md:order-1">
    <p class="text-purple-200 text-2xl">I'm Alberto, a Nomad Web Developer!</p>
    For years, I wandered the globe, exploring far-off lands and diving into diverse
    professions. Little did I know that my true calling awaited me in the unlikeliest
    of places – <span class="text-yellow-100">the world of programming.</span>
    <p>
      About a year ago, I stumbled upon the amazing world of web development.
      What started as a chance encounter swiftly blossomed into a burning
      passion and a newfound career path, blended with an exciting van life.
    </p>
    <p>
      Now, I'm on the search for my <span class="text-yellow-100"
        >first job as a web developer</span
      >, eager to establish myself and continue growing and learning in this
      incredible industry.
    </p>
    <p class="text-purple-300">Join me on this adventure!</p>
  </div>
  <img
    loading="lazy"
    src="../../images/cvpic4.jpg"
    alt="picture about myself"
    class="rounded object-cover size-96 md:w-[64] md:h-[64] order-1 md:order-2 profile-pic"
  />
</section>
