---
import { getLangFromUrl, useTranslations } from "../src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="dark:bg-gray-900">
  <div class="py-8 lg:py-12 px-4 mx-auto max-w-screen-md">
    <form
      name="contact"
      method="POST"
      data-netlify="true"
      netlify-honeypot="bot-field"
      class="space-y-8"
      action="/success"
    >
      <input type="hidden" name="form-name" value="contact" />
      <p style="display: none;">
        <label
          >Don’t fill this out if you’re human: <input
            name="bot-field"
          /></label
        >
      </p>
      <div>
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-white dark:text-gray-300"
        >
          {t("contact.1")}
        </label>
        <input
          name="email"
          type="email"
          id="email"
          class="shadow-sm bg-gray-900 text-white text-sm rounded-lg focus:ring-yellow-100 focus:border-yellow-100 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-yellow-100 dark:focus:border-yellow-100 dark:shadow-sm-light border-b border-slate-500 glass active:border-none"
          placeholder={t("contact.email")}
          required
        />
      </div>
      <div>
        <label
          for="subject"
          class="block mb-2 text-sm font-medium text-white dark:text-gray-300"
        >
          {t("contact.2")}
        </label>
        <input
          name="subject"
          type="text"
          id="subject"
          class="shadow-sm bg-gray-900 text-white text-sm rounded-lg focus:ring-yellow-100 focus:border-yellow-100 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-yellow-100 dark:focus:border-yellow-100 dark:shadow-sm-light border-b border-slate-500 glass"
          placeholder={t("contact.3")}
          required
        />
      </div>
      <div class="sm:col-span-2">
        <label
          for="message"
          class="block mb-2 text-sm font-medium text-white dark:text-gray-300"
        >
          {t("contact.4")}
        </label>
        <textarea
          name="message"
          id="message"
          rows="6"
          class="shadow-sm bg-gray-900 text-white text-sm rounded-lg focus:ring-yellow-100 focus:border-yellow-100 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-yellow-100 dark:focus:border-yellow-100 dark:shadow-sm-light border-b border-slate-500 glass"
          placeholder={t("contact.5")}></textarea>
      </div>
      <button
        type="submit"
        class="rounded-full border border-white/10 gap-x-3
  py-2 px-3 bg-white/10 hover:scale-105 hover:bg-white/10 hover:text-purple-300 transition flex item-center justify-center border-purple-300 glass"
      >
        {t("contact.6")}
      </button>
    </form>
  </div>
</section>

<style>
  .glass {
    background-color: rgba(169, 85, 247, 0.01);
    backdrop-filter: blur(19px) saturate(160%);
    border-radius: 12px;
  }
</style>
