---
import { getLangFromUrl, useTranslations } from "../src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import ArrowUp from "../icons/ArrowUp.astro"
---

<footer class="rounded-lg shadow w-full mx-auto xl:w-[1120px] z-50 p-8 sm:text-md">
  <div
    class="w-full mx-auto max-w-screen-xl md:flex md:items-center md:justify-between"
  >
    <span class="text-md sm:text-center text-white-100/90"
      >© 2024 <a
        href="https://github.com/BertoRamosM/"
        target="_blank"
        class="hover:underline hover:text-purple-300"
        >Alberto Ramos. {t("footer.1")}
      </a></span
    >
    <a
      href="https://www.figma.com/community/file/1316036866823217119"
      target="_blank"
      class="hover:underline sm:text-center text-white-100/90 hover:text-purple-300"
      >{t("footer.2")} Elfira Nurul Ilma.
    </a>
    <a
      href="https://tabler.io/icons"
      target="_blank"
      class="hover:underline sm:text-center text-white-100/90 hover:text-purple-300"
      >{t("footer.3")} Tabler</a
    >

    <ul
      class="flex flex-wrap items-center mt-3 font-medium text-white-100/90 sm:mt-0"
    >
      <li>
        <a href="#" class="hover:underline hover:text-purple-300 me-4 md:me-6 flex items-center gap-2 justify-center"
          >{t("footer.4")} <ArrowUp /></a
        >
      </li>
    </ul>
  </div>
</footer>
