<footer
  class="rounded-lg shadow m-4 pt-10 w-full mx-auto xl:w-[1120px] mb-10 z-50"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm sm:text-center text-white-100/90"
      >© 2024 <a
        href="https://github.com/BertoRamosM/"
        target="_blank"
        class="hover:underline hover:text-purple-300"
        >Alberto Ramos. No Rights Reserved.
      </a></span
    >
    <a
      href="https://www.figma.com/community/file/1316036866823217119"
      target="_blank"
      class="hover:underline text-sm sm:text-center text-white-100/90 hover:text-purple-300"
      >Design inspired by Elfira Nurul Ilma.
    </a>
    <a
      href="https://tabler.io/icons"
      target="_blank"
      class="hover:underline text-sm sm:text-center text-white-100/90 hover:text-purple-300"
      >Icons by Tabler</a
    >

    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-white-100/90 sm:mt-0"
    >
      <li>
        <a href="#" class="hover:underline hover:text-purple-300 me-4 md:me-6"
          >Back to top</a
        >
      </li>
    </ul>
  </div>
</footer>
