<footer class="rounded-lg shadow m-4 dark:bg-gray-800 pt-10 backdrop-blur-lg w-full mx-auto xl:w-[1120px] mb-10">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm sm:text-center text-white-100/90"
      >© 2024 <a href="https://github.com/BertoRamosM/" target="_blank" class="hover:underline"
        >Alberto Ramos</a
      >. NO Rights Reserved.
    </span>
     <a href='https://www.figma.com/community/file/1316036866823217119'  target="_blank" class="hover:underline text-sm sm:text-center text-white-100/90"
        >Design inspired by Elfira Nurul Ilma</a
      >
    
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-white-100/90 sm:mt-0"
    >
      <li>
        <a href="#about" class="hover:underline me-4 md:me-6">About me</a>
      </li>
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Contact</a>
      </li>
     
    </ul>
  </div>
</footer>
