<header
  class="flex justify-center py-5 px-10 w-[auto] mx-auto sticky top-0 z-50 bg-gray-900 rounded bg-opacity-50"
>
  <nav class="flex flex-row gap-x-10 opacity-90">
    <a href="#education" class="hover:underline hover:text-purple-300"
      >Education</a
    >
    <a href="#projects" class="hover:underline hover:text-purple-300"
      >Projects</a
    >
    <a href="#about" class="hover:underline hover:text-purple-300">About</a>
    <a href="#contact" class="hover:underline hover:text-purple-300">Contact</a>

    <select
      name="Language"
      id="language"
      class="bg-gray-800 border border-purple-300 text-white text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full h-[1.7rem] p-1 dark:bg-purple-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500 hover:scale-105"
    >
      <option value="English" selected>English</option>
      <option value="Spanish">Spanish</option>
      <option value="French">French</option>
      <option value="Catalan">Catalan</option>
    </select>
  </nav>
</header>
