---
const spanish =
  "https://hatscripts.github.io/circle-flags/flags/es-variant.svg";
const catalan = "https://hatscripts.github.io/circle-flags/flags/es-ct.svg";
const english = "https://hatscripts.github.io/circle-flags/flags/gb.svg";
const french = "https://hatscripts.github.io/circle-flags/flags/fr.svg";

const LanguagesList = [spanish, catalan, english, french];
import {
  Astronav,
  Dropdown,
  DropdownItems,
} from "astro-navbar";

---

<style>
  @media screen and (max-width: 530px) {
    .nav-link {
      font-size: 0.60rem;
    }
  }
</style>

  <header
    class="flex justify-center py-6 sm:py-5 sm:px-10 mx-auto sticky top-0 z-50 bg-gray-900 rounded bg-opacity-50 px-2"
  >
    <nav class="flex flex-row justify-center items-center gap-x-10 opacity-90 ">
      <a
        href="#education"
        class="hover:underline hover:text-purple-300 nav-link">Education</a
      >
      <a href="#projects" class="hover:underline hover:text-purple-300 nav-link"
        >Projects</a
      >
      <a href="#about" class="hover:underline hover:text-purple-300 nav-link"
        >About</a
      >
      <a href="#contact" class="hover:underline hover:text-purple-300 nav-link"
        >Contact</a
      >

      <Astronav>
        <Dropdown>
          <button>
            <p class="hover:underline hover:text-purple-300 nav-link py-2">
              Languages
            </p>
          </button>
          <DropdownItems>
            <div class="">
              <ul>
                <div class="flex justify-center w-[30%] absolute right-4">
                  {
                    LanguagesList.map((language) => (
                      <div class="mx-2 my-1">
                        <img
                          src={language}
                          alt={`${language} flag`}
                          class="size-4"
                        />
                      </div>
                    ))
                  }
                </div>
                <li></li>
              </ul>
            </div>
          </DropdownItems>
        </Dropdown>
      </Astronav>
    </nav>
  </header>
