---
const spanish =
  "https://hatscripts.github.io/circle-flags/flags/es-variant.svg";
const catalan = "https://hatscripts.github.io/circle-flags/flags/es-ct.svg";
const english = "https://hatscripts.github.io/circle-flags/flags/gb.svg";
const french = "https://hatscripts.github.io/circle-flags/flags/fr.svg";

const LanguagesList = [spanish, catalan, english, french];
import { Astronav, Dropdown, DropdownItems } from "astro-navbar";
---

<style>
  @media screen and (max-width: 530px) {
    .nav-link {
      font-size: 0.7rem;
    }
    header > * {
      gap: 1rem;
    }
    @media screen and (max-width: 335px) {
      .nav-link {
        font-size: 0.6rem;
      }
    }
  }
</style>

<header
  class="flex justify-center py-6 sm:py-5 sm:px-10 mx-auto fixed top-0 left-5 right-5 z-50 bg-gray-900 rounded-2xl bg-opacity-75 px-2 max-w-max"
>
  <nav
    class="flex flex-row justify-center items-center gap-x-10 opacity-90 relative"
  >
    <a href="#education" class="hover:underline hover:text-purple-300 nav-link"
      >Education</a
    >
    <a href="#projects" class="hover:underline hover:text-purple-300 nav-link"
      >Projects</a
    >
    <a href="#about" class="hover:underline hover:text-purple-300 nav-link"
      >About</a
    >
    <a href="#contact" class="hover:underline hover:text-purple-300 nav-link"
      >Contact</a
    >

    <Astronav>
      <Dropdown>
        <button>
          <p class="hover:underline hover:text-purple-300 nav-link py-2">
            Languages
          </p>
        </button>
        <DropdownItems>
          <div class="">
            <ul>
              <div class="flex justify-center absolute right-2">
                {
                  LanguagesList.map((language) => (
                    <a class="mx-4 my-1" href="google">
                      <img
                        src={language}
                        alt={`${language} flag`}
                        class="size-6"
                      />
                    </a>
                  ))
                }
              </div>
              <li></li>
            </ul>
          </div>
        </DropdownItems>
      </Dropdown>
    </Astronav>
  </nav>
</header>
