<header class="flex justify-center py-7 w-full mx-auto xl:w-[1120px] top-0">
  <nav class="flex flex-row gap-x-10 opacity-90">
    
    <a href="#education" class="hover:underline">Education</a>
    <a href="#projects" class="hover:underline">Projects</a>
    <a href="#about" class="hover:underline">About me</a>
    <a href="#contact" class="hover:underline">Contact</a>
  </nav>
</header>
