---
import { getLangFromUrl, useTranslations } from "../src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);


import Spain from "../flags-icons/Spain.astro"
import Cat from "../flags-icons/Catalonia.astro"
import Uk from "../flags-icons/Uk.astro"
import France from "../flags-icons/France.astro"



const english = {
  name: "",
  component: Uk
};
const spanish = {
  name: "es",
  component: Spain
};
const catalan = {
  name: "ca",
  component: Cat
};

const french = {
  name: "fr",
   component: France
};

const LanguagesList = [english, spanish, catalan, french];
import { Astronav, Dropdown, DropdownItems } from "astro-navbar";
import ArrowDown from "../icons/ArrowDown.astro";
---

<style>
  @media screen and (max-width: 560px) {
    .nav-link {
      font-size: 0.7rem;
    }
    header > * {
      gap: 1rem;
    }
    @media screen and (max-width: 335px) {
      .nav-link {
        font-size: 0.6rem;
      }
    }
  }
  @media screen and (max-width: 450px) {
    header > * {
      gap: 0.7rem;
    }
  }

  header {
    position: fixed;
    top: 0;
    left: 5%;
    right: 5%;
    z-index: 50;
    background-color: rgba(
      55,
      65,
      81,
      0.55
    ); 
    border-radius: 1rem; 
    padding: 1.5rem;
    transition: transform 0.3s ease; 
  }

  .header-hidden {
    transform: translateY(-105%);
  }
</style>

<header id="header" class="flex justify-center mx-auto max-w-max">
  <nav
    class="flex flex-row justify-center items-center gap-x-10 opacity-90 relative"
  >
    <a href="#education" class="hover:underline hover:text-purple-400 nav-link"
      >{t("header.education")}</a
    >
    <a href="#projects" class="hover:underline hover:text-purple-400 nav-link"
      >{t("header.project")}</a
    >
    <a href="#about" class="hover:underline hover:text-purple-400 nav-link"
      >{t("header.about")}</a
    >
    <a href="#contact" class="hover:underline hover:text-purple-400 nav-link"
      >{t("header.contact")}</a
    >

    <Astronav>
      <Dropdown>
        <button class="flex items-center hover:text-purple-300 hover:underline">
          <p class="nav-link py-2">{t("header.language")}</p>
          <ArrowDown />
        </button>
        <DropdownItems>
          <div class="">
            <ul>
              <div class="flex justify-center absolute right-2">
                {
                  LanguagesList.map((language) => (
                    <a class="mx-4 my-1" href={`/${language.name}`}>
                      <language.component />
                      {/* <{language.link} />
                      <img
                        src={language.link}
                        alt={`${language} flag`}
                        class="size-6"
                      />  */}
                    </a>
                  ))
                }
              </div>
              <li></li>
            </ul>
          </div>
        </DropdownItems>
      </Dropdown>
    </Astronav>
  </nav>
</header>

<script>
  document.addEventListener("scroll", () => {
    const header = document.getElementById("header");
    let lastScrollY = window.scrollY;

    document.addEventListener("scroll", () => {
      if (window.scrollY > lastScrollY) {
        header?.classList.add("header-hidden");
      } else {
        header?.classList.remove("header-hidden");
      }
      lastScrollY = window.scrollY;
    });
  });
</script>
