---
import { getLangFromUrl, useTranslations } from "../src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import Spain from "../flags-icons/Spain";
import Cat from "../flags-icons/Catalonia";
import Uk from "../flags-icons/Uk";
import France from "../flags-icons/France";

const LanguagesList = [
  { flag: Spain, name: t("lang.2") },
  { flag: Cat, name: t("lang.3") },
  { flag: Uk, name: t("lang.1") },
  { flag: France, name: t("lang.4") },
];
---

<style>
  .flag-container {
    position: relative;
    cursor: default;
    transition: transform 0.2s ease-in-out;
  }

  .flag-container:hover {
    transform: scale(1.25);
  }

  .flag-container:hover .icon {
    filter: grayscale(100%);
  }

  .language-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Roboto", sans-serif;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .flag-container:hover .language-text {
    opacity: 1;
  }
  @media (max-width: 768px) {
    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .glass {
    background-color: transparent;
    backdrop-filter: blur(19px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
</style>

<div class="w-full flex justify-center mt-9">
  <div
    class="flex flex-wrap justify-center max-w-screen-lg gap-x-10 gap-y-2 pb-12"
  >
    {
      LanguagesList.map((language) => (
        <div class="p-2 flag-container glass">
          <language.flag class="size-10 icon rounded-full" width={24} height={24}/>
          {/*  <img
            src={language.flag}
            alt={`${language.name} flag`}
            class="size-12 icon"
          /> */}
          <div class="language-text text-red-500 dark:text-white icon-text text-lg font-bold">
            {language.name}
          </div>
        </div>
      ))
    }
  </div>
</div>
