---
import Linkedin from "../icons/Linkedin.astro";
import Github from "../icons/Github.astro";
import Email from "../icons/Email.astro";
import CVIcon from "../icons/CVIcon.astro";
import Book from "../icons/Book.astro";
import Uk from "../flags-icons/Uk.astro"

import { getLangFromUrl, useTranslations } from "../src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<nav class="pt-8">
  <div>
    <p class="mt-2">
      <span
        class="inline-flex items-center px-2 py-0 text-xs font-semibold rounded-md pointer-events-auto body-primary box-gen"
        ><span class="mr-1.5 flex h-3 w-3 items-center"
          ><span
            class="absolute inline-flex h-2 w-2 animate-ping rounded-full opacity-75 bg-lime-400"
          ></span><span
            class="relative inline-flex h-2 w-2 rounded-full bg-lime-400"
          ></span></span
        >{t("social.1")}</span
      >
    </p>

    <div class="flex gap-4 align-center mt-2 flex-wrap">
      <a
        href="/blog"
        class="rounded-full border border-white/10 gap-x-3 py-2 px-3 bg-white/10 hover:scale-105 hover:bg-white/10 transition flex hover:text-purple-300 item-center border-purple-300 glass"
      >
        <div class="flex items-center gap-2">
        <Book class="size-6" />
        Blog <Uk width={16} height={16}/>
        </div>
      </a>

      <a
        href="https://www.linkedin.com/in/alberto-ramos-munoz-372000105/"
        target="_blank"
        class="rounded-full border border-white/10 gap-x-3 py-2 px-3 bg-white/10 hover:scale-105 hover:bg-white/10 transition flex hover:text-purple-300 item-center glass"
      >
        <Linkedin class="size-6" />

        Linkedin
      </a>
      <a
        href="https://github.com/BertoRamosM/"
        target="_blank"
        class="rounded-full border border-white/10 gap-x-3 py-2 px-3 bg-white/10 hover:scale-105 hover:bg-white/10 transition flex hover:text-purple-300 item-center border-purple-300 glass"
      >
        <Github class="size-6" />
        Github
      </a>

      <a
        href="mailto:bertoramos@proton.me"
        target="_blank"
        class="rounded-full border border-white/10 gap-x-3 py-2 px-3 bg-white/10 hover:scale-105 hover:bg-white/10 transition flex hover:text-purple-300 item-center border-purple-300 glass"
      >
        <Email class="size-6" />
        bertoramos@proton.me
      </a>

      <a
        href="https://raw.githubusercontent.com/BertoRamosM/CV2024/main/AlbertoRamosCV2024.pdf"
        download="AlbertoRamosCV2024.pdf"
        class="rounded-full border border-white/10 gap-x-3 py-2 px-3 bg-white/10 hover:scale-105 hover:bg-white/10 transition flex hover:text-purple-300 item-center border-purple-300 glass"
      >
        <CVIcon class="size-6" />
        CV
      </a>
    </div>
  </div>

  <style>
    .glass {
      background-color: transparent;
      backdrop-filter: blur(19px) saturate(180%);
      border-radius: 10px;
      border: 1px solid gray;
    }
  </style>
</nav>
